<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Driver Health Monitoring System - Last Known Location</title>
</head>
<body>
    <header>
        <h1>Driver Health Monitoring System</h1>
        <nav>
            <ul>
                <li><a href="/templates/index.html">Home</a></li>
                <li><a href="/templates/profile.html">Profile</a></li>
                <li><a href="/templates/vehicle-info.html">Vehicle Info</a></li>
                <li><a href="/templates/preferences.html">Preferences & Alerts</a></li>
                <li><a href="/templates/last-location.html">Last Known Location</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="location" class="page">
            <h2>Last Known Location</h2>
            <img src="https://th.bing.com/th/id/OIP.Bt6I9at7yrjdlCtS0dTKDAHaDe?rs=1&pid=ImgDetMain" alt="Map Location">
            <p>Near Poonamriya College of Engineering, Sitapura Jaipur, Rajasthan</p>
        </section>
    </main>

    <footer class="footer">
        <p>© 2024 Driver Health Monitoring System. All rights reserved.</p>
    </footer>
</body>
</html>
